We are going to build two types of content-based recommender:

Plot description-based recommender: This model compares the descriptions and taglines of different movies, and provides recommendations that have the most similar plot descriptions.

In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv("./data/movies_metadata.csv")

/home/arun/Documents/animerec/animerecommendation/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [7]:
df = data[['title', 
       'vote_average', 'genres', 'overview','id','vote_count']]

In [8]:
df

,title,vote_average,genres,overview,id,vote_count
0,Toy Story,7.7,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",862,5415.0
1,Jumanji,6.9,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,8844,2413.0
2,Grumpier Old Men,6.5,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,15602,92.0
3,Waiting to Exhale,6.1,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",31357,34.0
4,Father of the Bride Part II,5.7,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,11862,173.0
...,...,...,...,...,...,...
45461,Subdue,4.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman.,439050,1.0
45462,Century of Birthing,9.0,"[{'id': 18, 'name': 'Drama'}]",An artist struggles to finish his work while a...,111109,3.0
45463,Betrayal,3.8,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",67758,6.0
45464,Satan Triumphant,0.0,[],"In a small town live two brothers, one a minis...",227506,0.0
45465,Queerama,0.0,[],50 years after decriminalisation of homosexual...,461257,0.0

In [9]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df['overview'] = df['overview'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix

/tmp/ipykernel_210266/3565993951.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].fillna('')

<45466x75827 sparse matrix of type '<class 'numpy.float64'>'
	with 1210882 stored elements in Compressed Sparse Row format>

In [10]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

In [11]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [12]:
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [19]:
idx = indices['Betrayal']

In [20]:
idx

title
Betrayal    15294
Betrayal    45463
dtype: int64

In [21]:
sim_scores = list(enumerate(linear_kernel(tfidf_matrix[15294], tfidf_matrix).flatten()))

In [22]:
sim_scores

[(0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.005105431857788875),
 (21, 0.0),
 (22, 0.0),
 (23, 0.02683805253345206),
 (24, 0.0),
 (25, 0.038349038912442075),
 (26, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.01020074673669222),
 (35, 0.020377680730975328),
 (36, 0.0),
 (37, 0.016417020156532226),
 (38, 0.0),
 (39, 0.0),
 (40, 0.03925313421339245),
 (41, 0.0),
 (42, 0.016395225187116943),
 (43, 0.0),
 (44, 0.03362118800475521),
 (45, 0.008763992173147484),
 (46, 0.0),
 (47, 0.022612927185676153),
 (48, 0.020968908847547853),
 (49, 0.005667869177529908),
 (50, 0.01662374461733197),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.024515856953496784),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.005098216804367136),
 (67, 0.048712093761078885),
 (68, 0.0),
 (69, 0.023034644640895816),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.008139875938777484),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.007327131105896727),
 (82, 0.01940365257064952),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.006098003749476274),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.0),
 (94, 0.0),
 (95, 0.01799959699454729),
 (96, 0.005847754446096912),
 (97, 0.004076680444151473),
 (98, 0.0),
 (99, 0.009924122035257303),
 (100, 0.011107079000122626),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.007133966917867476),
 (106, 0.0),
 (107, 0.0),
 (108, 0.023717036119789),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.06247392215612768),
 (114, 0.026356453103302764),
 (115, 0.0),
 (116, 0.013423746289841585),
 (117, 0.0),
 (118, 0.0),
 (119, 0.01330224279515937),
 (120, 0.0),
 (121, 0.006877240965032383),
 (122, 0.0),
 (123, 0.0),
 (124, 0.021590236896184903),
 (125, 0.010380908575928991),
 (126, 0.01617847883794076),
 (127, 0.0),
 (128, 0.0),
 (129, 0.015196422083724098),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.019958635563384848),
 (135, 0.0),
 (136, 0.0),
 (137, 0.0),
 (138, 0.004718321499994835),
 (139, 0.0),
 (140, 0.0),
 (141, 0.021185761217406566),
 (142, 0.01258423783145982),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.006530552317480743),
 (148, 0.0),
 (149, 0.0),
 (150, 0.0),
 (151, 0.02890209841924691),
 (152, 0.02073963547716043),
 (153, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.025001325683541208),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.006656479057007441),
 (162, 0.0),
 (163, 0.0),
 (164, 0.014693206590059267),
 (165, 0.02233412296172845),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.0),
 (171, 0.0),
 (172, 0.0),
 (173, 0.0),
 (174, 0.0),
 (175, 0.0),
 (176, 0.0),
 (177, 0.02684128721268638),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.007215874862200669),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.05872723832638486),
 (187, 0.0),
 (188, 0.006512873744490481),
 (189, 0.0),
 (190, 0.0),
 (191, 0.005846716951309798),
 (192, 0.04089854837886986),
 (193, 0.007509317669429021),
 (194, 0.0),
 (195, 0.006045249755878973),
 (196, 0.0),
 (197, 0.0),
 (198, 0.006694973863680886),
 (199, 0.0),
 (200, 0.02148719058595947),
 (201, 0.0),
 (202, 0.01975741343865369),
 (203, 0.01108487169193709),
 (204, 0.051359270336277275),
 (205, 0.0),
 (206, 0.02361866412389806),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.03080156553318566),
 (212, 0.012238871040195456),
 (213, 0.0),
 (214, 0.0),
 (215, 0.010344801822486288),
 (216, 0.010692809290649238),
 (217, 0.0),
 (218, 0.028037591680715148),
 (219, 0.016959976086872667),
 (220, 0.0),
 (221, 0.0),
 (222, 0.033964391954879145),
 (223, 0.0),
 (224, 0.0),
 (225, 0.0),
 (226, 0.028105470426446393),
 (227, 0.007933219430244045),
 (228, 0.019878605298387517),
 (229, 0.0),
 (230, 0.0),
 (231, 0.014025839196065556),
 (232, 0.05140732619012512),
 (233, 0.030265253869814737),
 (234, 0.0),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0318317024113267),
 (238, 0.0),
 (239, 0.0),
 (240, 0.0),
 (241, 0.008930872839208353),
 (242, 0.0),
 (243, 0.008346777796938659),
 (244, 0.017787582797215647),
 (245, 0.0),
 (246, 0.014723186516972983),
 (247, 0.0),
 (248, 0.0),
 (249, 0.012891742289223261),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (258, 0.0),
 (259, 0.009188948986454804),
 (260, 0.0),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.011060434937619271),
 (266, 0.03130804262594752),
 (267, 0.02006204091966053),
 (268, 0.018777124466654086),
 (269, 0.006279765705108449),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.018506286271017153),
 (274, 0.0),
 (275, 0.0),
 (276, 0.012572693434819439),
 (277, 0.0),
 (278, 0.014384667450172008),
 (279, 0.0),
 (280, 0.004486961993690814),
 (281, 0.0),
 (282, 0.008031332259065781),
 (283, 0.06248292364627413),
 (284, 0.0),
 (285, 0.0),
 (286, 0.03683623359138897),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.011139866269394451),
 (291, 0.013370045194977599),
 (292, 0.0),
 (293, 0.02780247448835357),
 (294, 0.007742849237460419),
 (295, 0.0),
 (296, 0.01074458062784667),
 (297, 0.02626948497858581),
 (298, 0.027793771180638478),
 (299, 0.014283167860464404),
 (300, 0.0),
 (301, 0.0),
 (302, 0.0),
 (303, 0.10373375574892886),
 (304, 0.0),
 (305, 0.032116788272048655),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0077328536350222),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.007700506075233555),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (323, 0.0),
 (324, 0.02055757624798162),
 (325, 0.0),
 (326, 0.00893214400090167),
 (327, 0.0),
 (328, 0.0),
 (329, 0.014074814424577805),
 (330, 0.006199673714210905),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.008027319755817927),
 (335, 0.0),
 (336, 0.0),
 (337, 0.028380181335089696),
 (338, 0.05522223043423756),
 (339, 0.02412979663958714),
 (340, 0.0065409367465720444),
 (341, 0.0),
 (342, 0.03803776777193607),
 (343, 0.01597557252586303),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.13864805010114856),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.007032105845985475),
 (352, 0.010977178539581208),
 (353, 0.0),
 (354, 0.017456027326839676),
 (355, 0.0076753904508328275),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.013253679109438494),
 (363, 0.020727031696841827),
 (364, 0.0),
 (365, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.04253921611458884),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.01527704030074006),
 (384, 0.016732270379966267),
 (385, 0.0),
 (386, 0.020355166122982278),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.013988142852080176),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.009997299953207854),
 (405, 0.0),
 (406, 0.0),
 (407, 0.07433132452646346),
 (408, 0.018749621746480177),
 (409, 0.0),
 (410, 0.023804687864514163),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.00732328421353831),
 (419, 0.0),
 (420, 0.0),
 (421, 0.009358586351887296),
 (422, 0.010082537670811341),
 (423, 0.03584129865430889),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0),
 (429, 0.010838311469638356),
 (430, 0.0),
 (431, 0.025074634054144923),
 (432, 0.0),
 (433, 0.016327050816488803),
 (434, 0.028287658425231208),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.03011453713588804),
 (439, 0.0),
 (440, 0.025597596650548775),
 (441, 0.0),
 (442, 0.0073619782286887024),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.03612783891278938),
 (449, 0.0),
 (450, 0.0),
 (451, 0.018254988382526295),
 (452, 0.0),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.01011201170112289),
 (457, 0.010672787761475655),
 (458, 0.0),
 (459, 0.011464589279435668),
 (460, 0.0),
 (461, 0.0),
 (462, 0.0),
 (463, 0.00505787053863194),
 (464, 0.0),
 (465, 0.044504832936700676),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0340692620493016),
 (473, 0.008882111194028585),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.008004973171522304),
 (478, 0.007212798241553766),
 (479, 0.0),
 (480, 0.010806886333909065),
 (481, 0.0),
 (482, 0.0),
 (483, 0.0),
 (484, 0.016554632974061307),
 (485, 0.0),
 (486, 0.005632659660066472),
 (487, 0.032751334272875555),
 (488, 0.008109315310243136),
 (489, 0.0),
 (490, 0.03386810656754668),
 (491, 0.0),
 (492, 0.0),
 (493, 0.01328505386622195),
 (494, 0.0),
 (495, 0.02513746099843892),
 (496, 0.0),
 (497, 0.0),
 (498, 0.013254953857878142),
 (499, 0.012966471302227533),
 (500, 0.0),
 (501, 0.020524575842854116),
 (502, 0.0),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.038670515235327045),
 (509, 0.0),
 (510, 0.0),
 (511, 0.0),
 (512, 0.0),
 (513, 0.0),
 (514, 0.0),
 (515, 0.0),
 (516, 0.01883911890888264),
 (517, 0.006279007704811044),
 (518, 0.0),
 (519, 0.01755265583890286),
 (520, 0.0),
 (521, 0.0),
 (522, 0.010747519269129873),
 (523, 0.0),
 (524, 0.01897086058560391),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.0),
 (530, 0.0),
 (531, 0.0076828822808820635),
 (532, 0.0),
 (533, 0.01059738543613047),
 (534, 0.01340977615763791),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.007513473019815985),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0),
 (550, 0.0),
 (551, 0.03282298588261171),
 (552, 0.018036140767228714),
 (553, 0.0),
 (554, 0.01876332257193478),
 (555, 0.0),
 (556, 0.0),
 (557, 0.010467654365983051),
 (558, 0.0),
 (559, 0.0),
 (560, 0.020921615385771506),
 (561, 0.011115954359146755),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.0),
 (570, 0.0),
 (571, 0.01279529624064331),
 (572, 0.0),
 (573, 0.007009099738542358),
 (574, 0.0),
 (575, 0.0),
 (576, 0.0),
 (577, 0.00644363878810365),
 (578, 0.0),
 (579, 0.0),
 (580, 0.007957033551923167),
 (581, 0.0),
 (582, 0.0),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.0),
 (587, 0.0),
 (588, 0.009855835337621386),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.008700667128031397),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.015736723728921934),
 (600, 0.0),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.03449725187225032),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0),
 (608, 0.0),
 (609, 0.027742648575149412),
 (610, 0.025183124000090252),
 (611, 0.0),
 (612, 0.013837624454089627),
 (613, 0.006062762273028443),
 (614, 0.026277645922040967),
 (615, 0.0),
 (616, 0.008694896964253627),
 (617, 0.010149382071608487),
 (618, 0.0),
 (619, 0.029057863072559195),
 (620, 0.0),
 (621, 0.02892775101887309),
 (622, 0.0),
 (623, 0.0054203740836875165),
 (624, 0.0),
 (625, 0.0),
 (626, 0.005471120637479384),
 (627, 0.0),
 (628, 0.0),
 (629, 0.0),
 (630, 0.013038557939486835),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.022778914781966725),
 (637, 0.013881732644352272),
 (638, 0.0),
 (639, 0.0),
 (640, 0.005714212572798594),
 (641, 0.0),
 (642, 0.0),
 (643, 0.0),
 (644, 0.0),
 (645, 0.02374842362137195),
 (646, 0.0),
 (647, 0.0),
 (648, 0.015548325354705956),
 (649, 0.0),
 (650, 0.017152379694757885),
 (651, 0.0),
 (652, 0.015471476356043979),
 (653, 0.0),
 (654, 0.0770476124225605),
 (655, 0.0),
 (656, 0.031013702333117395),
 (657, 0.021765164584767724),
 (658, 0.0036347067901580637),
 (659, 0.01595878873181205),
 (660, 0.0),
 (661, 0.010825019552279533),
 (662, 0.0),
 (663, 0.010537299056736192),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.02858911419507342),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.012535624863898552),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0),
 (680, 0.0),
 (681, 0.0),
 (682, 0.004241603682470748),
 (683, 0.0),
 (684, 0.026170339596337834),
 (685, 0.01756054442503871),
 (686, 0.03565782796198426),
 (687, 0.014895981622852175),
 (688, 0.0154435082266773),
 (689, 0.007000040712131013),
 (690, 0.013451067380170555),
 (691, 0.04279821955726878),
 (692, 0.0),
 (693, 0.016784455268942473),
 (694, 0.017243257586778436),
 (695, 0.0),
 (696, 0.01432097872112451),
 (697, 0.00813191847782061),
 (698, 0.027926938190775505),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0700909683615616),
 (702, 0.0),
 (703, 0.020199276674834593),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.01977231490888329),
 (708, 0.0),
 (709, 0.0),
 (710, 0.008045623577757127),
 (711, 0.0),
 (712, 0.007963822772275213),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.016843599158392793),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.010539935511387129),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0),
 (731, 0.0),
 (732, 0.0),
 (733, 0.01962717562783903),
 (734, 0.006269604105894994),
 (735, 0.0),
 (736, 0.0),
 (737, 0.0),
 (738, 0.0),
 (739, 0.013811648023530687),
 (740, 0.0),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.008714488588581095),
 (746, 0.020422918469765298),
 (747, 0.0),
 (748, 0.014602066898865965),
 (749, 0.0),
 (750, 0.017388052451618456),
 (751, 0.023770521793844788),
 (752, 0.00535516861944857),
 (753, 0.0),
 (754, 0.0),
 (755, 0.011453636098493229),
 (756, 0.01616295285183743),
 (757, 0.0228356464326565),
 (758, 0.0),
 (759, 0.05535816442580916),
 (760, 0.009744728578590297),
 (761, 0.01122135029330887),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.017984574064758927),
 (769, 0.0),
 (770, 0.02411048951380362),
 (771, 0.0),
 (772, 0.019550758630241062),
 (773, 0.017461972058928507),
 (774, 0.0),
 (775, 0.0),
 (776, 0.026081151740276594),
 (777, 0.0),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.050009836260378526),
 (783, 0.0),
 (784, 0.0),
 (785, 0.0),
 (786, 0.0),
 (787, 0.0),
 (788, 0.007684151271362556),
 (789, 0.0),
 (790, 0.01827401709544326),
 (791, 0.0),
 (792, 0.0),
 (793, 0.018422730404956903),
 (794, 0.0),
 (795, 0.024760510681602007),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.011612298720119027),
 (800, 0.0),
 (801, 0.02100845906011064),
 (802, 0.0),
 (803, 0.0),
 (804, 0.013970079707666014),
 (805, 0.0),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.011023511190529),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.011224168393968175),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.02702360225310191),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.010264207485835437),
 (828, 0.019827282115489533),
 (829, 0.0),
 (830, 0.004057464734127249),
 (831, 0.05373208274408973),
 (832, 0.0),
 (833, 0.022098126538200844),
 (834, 0.027583973779721178),
 (835, 0.0),
 (836, 0.0),
 (837, 0.015279661776545713),
 (838, 0.058487025773904903),
 (839, 0.004776766982446582),
 (840, 0.0),
 (841, 0.0),
 (842, 0.005661832559144027),
 (843, 0.00898823574261219),
 (844, 0.0),
 (845, 0.02948142402182395),
 (846, 0.0),
 (847, 0.014125294154328272),
 (848, 0.004946380364568045),
 (849, 0.03195114118765906),
 (850, 0.0),
 (851, 0.0),
 (852, 0.006240199410638498),
 (853, 0.0),
 (854, 0.0),
 (855, 0.0),
 (856, 0.009200052710963606),
 (857, 0.009493361886015001),
 (858, 0.01556262208463996),
 (859, 0.0),
 (860, 0.013445343178150639),
 (861, 0.0),
 (862, 0.011574829871910563),
 (863, 0.0),
 (864, 0.0),
 (865, 0.013660885083279119),
 (866, 0.0),
 (867, 0.017914162523559814),
 (868, 0.01046066480034444),
 (869, 0.0180156366677954),
 (870, 0.0),
 (871, 0.018993749089262435),
 (872, 0.0),
 (873, 0.01809507439251032),
 (874, 0.04292004912861055),
 (875, 0.007038568681336246),
 (876, 0.01706301098017728),
 (877, 0.0),
 (878, 0.03832983297187734),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.04236505713637976),
 (885, 0.0),
 (886, 0.0),
 (887, 0.0),
 (888, 0.028223656593856488),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.04239585522125665),
 (894, 0.0),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.07517196807162424),
 (901, 0.055978165338572),
 (902, 0.005398187946156918),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0138263772934185),
 (910, 0.0),
 (911, 0.0),
 (912, 0.014025049984586053),
 (913, 0.0),
 (914, 0.0),
 (915, 0.025581875456347217),
 (916, 0.0),
 (917, 0.0),
 (918, 0.021354051483675463),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.03969493325148467),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.0),
 (933, 0.0),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.0),
 (938, 0.025503364987638735),
 (939, 0.0),
 (940, 0.005777350499467894),
 (941, 0.0),
 (942, 0.0),
 (943, 0.016107157416130283),
 (944, 0.0),
 (945, 0.0),
 (946, 0.0050152439070373575),
 (947, 0.0),
 (948, 0.0),
 (949, 0.03930003979216427),
 (950, 0.0),
 (951, 0.01091914770556386),
 (952, 0.006104656195975992),
 (953, 0.0),
 (954, 0.0),
 (955, 0.03271295871980937),
 (956, 0.0),
 (957, 0.019881430485530878),
 (958, 0.0),
 (959, 0.03326679743318753),
 (960, 0.0),
 (961, 0.007977472070579217),
 (962, 0.0),
 (963, 0.0),
 (964, 0.08868717624484077),
 (965, 0.012714990666806725),
 (966, 0.0),
 (967, 0.0),
 (968, 0.033361838219347524),
 (969, 0.0),
 (970, 0.00637332055575839),
 (971, 0.0),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.0),
 (976, 0.0),
 (977, 0.00376566960810198),
 (978, 0.0),
 (979, 0.007255463788444662),
 (980, 0.009147249687305731),
 (981, 0.008337082005254985),
 (982, 0.0),
 (983, 0.0),
 (984, 0.030302083194857568),
 (985, 0.026525793760496328),
 (986, 0.0),
 (987, 0.0),
 (988, 0.0),
 (989, 0.03427090071352367),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.006943269371824081),
 ...]

In [23]:
    # Sort the movies based on the cosine similarity scores
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
sim_scores = sim_scores[1:11]

In [24]:
sim_scores

[(31255, 0.24072796751601153),
 (25009, 0.14385256658888698),
 (21348, 0.14347985570756588),
 (4305, 0.14032652012530006),
 (347, 0.13864805010114856),
 (34027, 0.1378626710920542),
 (8479, 0.1364297805323325),
 (13401, 0.13407592279714897),
 (7425, 0.13354963524153046),
 (43865, 0.13161139368025981)]

In [26]:
movie_indices = [i[0] for i in sim_scores]
df['title'].iloc[movie_indices]

31255                Post Coitum
25009         The New Girlfriend
21348          Darling Companion
4305         Written on the Wind
347                     Crooklyn
34027        The Perfect Husband
8479              Clash by Night
13401    Fireflies in the Garden
7425                Undercurrent
43865             Reverse Runner
Name: title, dtype: object

In [13]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, tfidf_matrix=tfidf_matrix, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(linear_kernel(tfidf_matrix[idx], tfidf_matrix).flatten()))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [17]:
#Get recommendations for The Lion King
content_recommender('Betrayal')

IndexError: positional indexers are out-of-bounds

In [2]:
import pandas as pd
ratings="https://github.com/couturierc/tutorials/raw/master/recommender_system/data/ratings.csv"
movies="https://github.com/couturierc/tutorials/raw/master/recommender_system/data/movies.csv"

# If data stored locally
# ratings="./data/ratings.csv"
# movies="./data/movies.csv"

df_ratings = pd.read_csv(ratings, sep=',')
df_ratings.columns = ['userId', 'itemId', 'rating', 'timestamp']
df_movies = pd.read_csv(movies, sep=',')
df_movies.columns = ['itemId', 'title', 'genres']

In [3]:
df_ratings

        userId  itemId  rating   timestamp
0            1       1     4.0   964982703
1            1       3     4.0   964981247
2            1       6     4.0   964982224
3            1      47     5.0   964983815
4            1      50     5.0   964982931
...        ...     ...     ...         ...
100831     610  166534     4.0  1493848402
100832     610  168248     5.0  1493850091
100833     610  168250     5.0  1494273047
100834     610  168252     5.0  1493846352
100835     610  170875     3.0  1493846415

[100836 rows x 4 columns]

In [2]:
!pip install surprise

Requirement already satisfied: surprise in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (from surprise) (1.1.1)
Requirement already satisfied: scipy>=1.0.0 in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (from scikit-surprise->surprise) (1.6.3)
Requirement already satisfied: numpy>=1.11.2 in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (from scikit-surprise->surprise) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: six>=1.10.0 in /home/arun/Documents/mlwebapp/env/lib/python3.8/site-packages (from scikit-surprise->surprise) (1.16.0)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [6]:
ratings="https://github.com/couturierc/tutorials/raw/master/recommender_system/data/ratings.csv"
movies="https://github.com/couturierc/tutorials/raw/master/recommender_system/data/movies.csv"

# If data stored locally
# ratings="./data/ratings.csv"
# movies="./data/movies.csv"

df_ratings = pd.read_csv(ratings, sep=',')
df_ratings.columns = ['userId', 'itemId', 'rating', 'timestamp']
df_movies = pd.read_csv(movies, sep=',')
df_movies.columns = ['itemId', 'title', 'genres']

In [7]:
# from surprise import Reader, Dataset, SVD, evaluate

# Following Surprise documentation examples 
# https://surprise.readthedocs.io/en/stable/getting_started.html evaluate, NormalPredictor

from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from collections import defaultdict

# As we're loading a custom dataset, we need to define a reader.
reader = Reader(rating_scale=(0.5, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df_ratings[['userId', 'itemId', 'rating']], reader)

# We'll use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8736  0.8730  0.8702  0.8710  0.8789  0.8733  0.0031
MAE (testset)     0.6706  0.6725  0.6703  0.6674  0.6763  0.6714  0.0029
Fit time          2.95    2.96    2.91    2.92    2.91    2.93    0.02
Test time         0.12    0.14    0.09    0.09    0.14    0.12    0.02

{'test_rmse': array([0.87359964, 0.8729894 , 0.87017126, 0.87104097, 0.87891535]),
 'test_mae': array([0.67055768, 0.67249144, 0.6703488 , 0.66741716, 0.67633543]),
 'fit_time': (2.9508724212646484,
  2.9647231101989746,
  2.9084620475769043,
  2.9208695888519287,
  2.9073338508605957),
 'test_time': (0.11757278442382812,
  0.13939952850341797,
  0.08919525146484375,
  0.08649516105651855,
  0.14271831512451172)}

In [8]:
from surprise.model_selection import GridSearchCV

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

0.8940260233556172
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [13]:
# We can now use the algorithm that yields the best rmse:
algo = gs.best_estimator['rmse']
trainset = data.build_full_trainset()
algo.fit(trainset)

In [14]:
algo.predict(621,1)

Prediction(uid=621, iid=1, r_ui=None, est=3.782138553409833, details={'was_impossible': False})

In [10]:
df_data = data.df
df_data = df_data.join(df_movies,how="left", on='itemId',rsuffix='_', lsuffix='')
df_data[df_data['userId']==1].sort_values(by = 'rating',ascending=False)[:10]

,userId,itemId,rating,itemId_,title,genres
231,1,5060,5.0,7932.0,Dark Days (2000),Documentary
185,1,2872,5.0,3840.0,Pumpkinhead (1988),Horror
89,1,1291,5.0,1721.0,Titanic (1997),Drama|Romance
90,1,1298,5.0,1732.0,"Big Lebowski, The (1998)",Comedy|Crime
190,1,2948,5.0,3952.0,"Contender, The (2000)",Drama|Thriller
189,1,2947,5.0,3951.0,Two Family House (2000),Drama
188,1,2944,5.0,3948.0,Meet the Parents (2000),Comedy
186,1,2899,5.0,3882.0,Bring It On (2000),Comedy
184,1,2858,5.0,3824.0,Autumn in New York (2000),Drama|Romance
179,1,2700,5.0,3623.0,Mission: Impossible II (2000),Action|Adventure|Thriller

In [15]:
# From Surprise documentation: https://surprise.readthedocs.io/en/stable/FAQ.html
def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [ ]:
# Predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)